@font-face {
    font-family: "Inter";
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: "Inter";
    src: url(assets/fonts/static/Inter-Bold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: "Inter";
    src: url(assets/fonts/static/Inter-ExtraBold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Inter";
    src: url(assets/fonts/static/Inter-Regular.ttf);
    font-weight: 400;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

body {
    width: 100%;
    height: 100vh;
    background-color: #FFFDFA;
    z-index: 0;
}

.container {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 7% ;
    display: flex;
    flex-wrap: wrap;
}

header {
    z-index: 1;
}

Header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

Header .container .desktop_nav {
    display: none;

}


Header .container .desktop_nav ul {
    list-style: none;
    display: flex;
}

Header .container .desktop_nav ul a {
    color: black;
    text-decoration: none;
}

Header .container .desktop_nav ul li {
    margin: 0 10px;

}

.menu-btn {
    cursor: pointer;
}

.menu {
    display: none;
    z-index: 999;
}

.menu .mobile_nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: 70vw;
    height: 100vh;
    background-color: #ccc;
    padding: 20px 30px;

}

.menu .opacity {
    width: 30vw;
    height: 100vh;
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
}

.menu .mobile_nav img {
    width: 30px;
    align-self: flex-end;
    cursor: pointer;
}

.menu .mobile_nav ul {
    list-style: none;
    margin-top: 50px;
}

.menu .mobile_nav ul li {
    margin: 20px 0;
}

.menu .mobile_nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 400;
}


Section.noticias .popular {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 30px;
}

section.noticias .popular .infos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

section.noticias .popular img {
    width: 100%;
}

section.noticias .popular h1 {
    padding: 10px 0;
    font-size: 40px;
    width: 100%;
    font-weight: bold;
}

section.noticias .popular p {
    padding: 10px 0;
    font-size: 15px;
    line-height: 25px;
}

section.noticias .popular .wrap {
    width: 100%;
}

section.noticias .popular .button {
    background-color: #F15E50;
    color: white;
    text-decoration: none;
    display: table;
    width: 200px;
    height: 40px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 10px;
    transition: 0.3s;
}

section.noticias .popular .button:hover {
    background-color: #00001A;

}

section.noticias .novos {
    background-color: #000019;
    padding: 15px;

    width: 100%;
    display: block;
    max-width: 440px;
    margin: 0 auto;
    align-self: flex-start;
}

section.noticias .novos h3 {
    color: #e9ab53;
    margin-bottom: 30px;
}

section.noticias .novos .nova_noticia h4 {
    color: #fffdfa;
}

section.noticias .novos .nova_noticia p {
    color: #c5c6ce;
}

section.noticias .novos .nova_noticia:not(:last-child) {
    margin-bottom: 60px;
}

section.noticias .novos .nova_noticia:not(:last-child)::after {
    content: " ";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #c5c6ce;
    margin-top: 50px;
}

.noticias {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 50px;
}

.noticias .noticia_single {
    width: 100%;
    max-width: 370px;
    display: flex;
    height: 120px;
    margin: 20px auto;
}

.noticias .noticia_single img {
    width: 100px;
    margin-right: 40px;
}

.noticias .noticia_single .info h3 {
    color: #c5c6ce;
}

.noticias .noticia_single .info h5 {
    font-weight: bold;
}


@media screen and (min-width: 720px) {
    section.noticias .popular h1 {
        padding: 10px 0;
        font-size: 40px;
        width: 40%;
    }

    section.noticias .popular .wrap {
        width: 55%;
    }
}



@media screen and (min-width: 1024px) {
    Header .container .desktop_nav {
        display: block;
    
    }
    
    .menu-btn{
        display: none;
    }
}